* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #252B42;
    --white: #FFFFFF;
    --grey: #737373;
    --orange: #FA4A0C;
    --sky-white: #F6F6F6;
}

/* ! Za desktop */
@media all {
    .nav-bar {
        display: flex;
        justify-content: space-between;
        margin-top: 26.12px;
    }

    .nav-bar
    .nav-logo {
        margin-left: 70px;
    }

    .nav-bar
    .links {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 40px;
    }

    .nav-bar
    .links
    .link {
        margin-left: 94px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.2px;
        color: var(--dark-blue);
    }

    .nav-bar
    .links
    .orange-link {
        color: var(--orange);
    }

    .nav-bar
    .hamburger {
        display: none;
    }
}

/* ! Za telefon */
@media all and (max-width: 414px) {
    .nav-bar {
        margin-top: 17px;
    }
    
    .nav-bar
    .nav-logo {
        margin-left: 25px;
        width: 104px;
        height: 51.37px;
    }

    .nav-bar
    .links {
        display: none;
    }

    .nav-bar
    .hamburger {
        display: block;
        width: 20px;
        height: 16px;
        margin: 31px 23px 0 0;
    }
}